---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@charset "utf-8";

$base-font-family: 'Work Sans', sans-serif;
$base-font-size:   20px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.7;
$spacing-unit:     30px;

// Season 2017 Color palette
$s2017-palette: (
  'text': #333,
  'background': #fbfdf7,
  'brand':      #a2521f,
  'em-font': '"Lato", "Helvetica Neue", Helvetica, sans-serif',
  'reg-font': '"Work Sans", sans-serif',
);

// Season 2019 Color palette
$s2019-palette: (
  'text': #2F2349,
  'background': lighten(#D3C2DF, 12%),
  'brand':      darken(#978AC4, 20%),
  'em-font': '"Lato", "Helvetica Neue", Helvetica, sans-serif',
  'reg-font': '"Work Sans", sans-serif',
);

// Season 2019 Color palette
$s2020-palette: (
  'text': #b4cac6,
  'background': #130501,
  'brand':      #e5752b,
  'em-font': '"Permanent Marker", "Lato", Helvetica, cursive',
  'reg-font': '"Indie Flower", "Work Sans", sans-serif',
);

$s2017-text-color:       #333;
$s2017-background-color: #fbfdf7;
$s2017-brand-color:      #a2521f;

$s2017-grey-color:       #828282;
$s2017-grey-color-light: lighten($s2017-grey-color, 40%);
$s2017-grey-color-dark:  darken($s2017-grey-color, 25%);

// Width of the content area
$content-width:    800px;
$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import "style";
