@mixin season-theme ($palette, $classname) {

  body.#{$classname} {
    position: relative;
    background: map-get($palette, 'background');
    max-width: $content-width;
    font-family: $base-font-family;
    margin: 0 auto;
    line-height: $base-line-height;
    font-size: $base-font-size;
    color: map-get($palette, 'text');
    padding: 2em 1em 0;
    text-rendering: optimizeLegibility;
    min-height: 100%;
    min-height: calc(100% - 2em);
    @include media-query($on-palm) {
      max-width: 100%;
      padding: 1em;
      min-height: calc(100% - 2em);
    }

    h1,h2,h3,h4,h5,h6 {
      font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
      font-weight: bold;
      line-height: 1.1;
      margin: 0;
      text-transform: capitalize;
    }


    a {
      color: map-get($palette, 'brand');
      fill: map-get($palette, 'brand');
      text-decoration: none;
      &:hover{
        color: map-get($palette, 'text');
        fill: map-get($palette, 'text');
      }
    }



    p a {
      color: map-get($palette, 'text');
      text-decoration: none;
      background: -webkit-linear-gradient(transparent 90%, lighten(map-get($palette, 'brand'), 10%) 10%);
      box-shadow: inset 0 0 0 0 lighten(map-get($palette, 'brand'), 10%);
      -webkit-transition: box-shadow ease 1s;
      -moz-transition: box-shadow ease 1s;
      transition: box-shadow ease 1s;
      &:hover {
        color: lighten(map-get($palette, 'background'), 50%);
        box-shadow: inset 0 -100px 0 0 lighten(map-get($palette, 'brand'), 10%);

      }
    }


    figure {
      margin: 0;
    }

    img {
      max-width: 100%;
    }

    pre,
    code {
      overflow: auto;
      font-size: 0.7*$base-font-size;
      border-radius: 3px;
      border: 1px solid map-get($palette, 'brand');
      > code {
        border: none;
      }
    }
    pre {
      padding: 1em;
    }
    code {
      padding: 0.1em;
    }
    blockquote {
      border-left: 2px solid map-get($palette, 'brand');
      padding-left: 1em;
      font-family: Georgia,Times,Times New Roman,serif;
      font-size: 0.9*$base-font-size;
      font-style: italic;
    }

    lyrics {
      display: none;
    }
    blockquote.lyrics {
      margin: 1em;
      white-space: pre-line;
      overflow: hidden;

      .handle {
        cursor: pointer;
        font-family: $base-font-family;
        font-style: normal;
        &:before {
          content: '>';
          display: inline-block;
          transform: rotate(90deg);
          transition: ease-out 200ms;
        }
        &:after {
          content: 'Paroles';
          margin-left: .5em;
        }
      }
      lyrics {
        transition: height ease-out 300ms, opacity linear 200ms 300ms;
        transition-delay: 0ms, 300ms;
        display: block;
        opacity: 1;
      }

      &.closed {
        .handle {
          &:before {
            transform: rotate(0);
          }
        }

        lyrics {
          transition-delay: 300ms, 0ms;
          color: inherit;
          opacity: 0;
          height: 0;
        }
      }
    }



    .headline {
      font-size: 4em;
      @include media-query($on-palm) {
        font-size: 2.4em;
      }
    }

    .headline + .subheadline {
      font-family: inherit;
      font-size: 1em;
      font-weight: 100;
      text-transform: none;
      margin-top: 0px;
      margin-bottom: 0px;
    }

    a.whole-album-link {
      @include media-query($on-palm) {
        display: table;
        .listen-logo {
          margin-right: .5em;
        }
      }

      &::before {
        content: ' - ';
        margin: 0 .3em;
        @include media-query($on-palm) {
          display: none;
        }
      }
      .listen-logo {
        height: 1em;
        opacity: 0;
        animation: fade-in-opacity 500ms forwards;
        animation-delay: .5s;

        path {
          fill: inherit;
        }
      }

      @keyframes fade-in-opacity {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

    }


    .home {
      //background-image: url(../images/left-arrow.svg);
      z-index: 20;
      background-color: map-get($palette, 'brand');
      border-radius: 40px;

      &::after {
        content: '〈';
        font-size: 25px;
        top: 6px;
        left: 5px;
        position: absolute;
        color: map-get($palette, 'background');
      }

      background-repeat: no-repeat;
      height: 50px;
      width: 50px;
      opacity: 0.9;
      position: fixed;
      top: 50px;
      left: 50px;
      &:hover{
        opacity: 1;
      }
      @include media-query($on-laptop) {
        top: 90%;
        left: 90%;
        height: 30px;
        width: 30px;
        opacity: 0.6;
        &::after {
          font-size: 15px;
          top: 4px;
          left: 3px;
        }

      }


    }

    .video {
      width: 100%;
      height: 360px;
      @include media-query($on-laptop) {
        height: 300px;
      }
      @include media-query($on-palm) {
        height: 180px;
      }
    }

    // Adding 'Contents' headline to the TOC
    #markdown-toc::before {
      content: "Contents";
      font-weight: bold;
    }

    li {
      margin-bottom: 0.4em;
    }


    // Using numbers instead of bullets for listing
    #markdown-toc ul {
      list-style: decimal;
    }

    #markdown-toc {
      border: 1px solid map-get($palette, 'brand');
      padding: 1.5em;
      list-style: decimal;
      display: inline-block;
    }


    .theme {
      background-size: contain;
      height: 40px;
      width: 40px;
      margin: 1em 0;
      cursor: pointer;
      &:hover {
        opacity: 0.9;
      }
    }

    .post-list {
      .post-title {
        margin-bottom: 0.4em;
      }
    }

    .footer-article {
      em {
        font-size: 0.7em;
      }

      .navigation {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        align-content: stretch;
        justify-content: space-between;
      }
    }

    .album-selection {
      list-style: none;
      padding: 0;
      display: block;

      .album {
        display: inline-block;
        a {
          display: inline-block;
          padding: 0 1em;
          border-bottom: 1px solid map-get($palette, 'brand');
          &.current {
            background: map-get($palette, 'brand');
            color: map-get($palette, 'background');
            border-radius: .2em .2em 0 0;
          }
        }
      }
    }

  }
}

@include season-theme ($s2017-palette, 'season-2017');
@include season-theme ($s2019-palette, 'season-2019');

html {
  height: 100%;
}
body.season-2019 {
  padding-bottom: 20vh;
  overflow-x: hidden;
  min-height: calc(100% - 2em - 20vh);

  & > footer.layout-footer {
    content: '';
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 20vh;
    background: linear-gradient(to top, transparent, lighten(#D3C2DF, 12%)), url(/images/herd-filter.canva.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    //position: absolute;
    //bottom: 0;
    position: absolute;
    left: calc((100vw - 100%)/-2);
    bottom: 0px;

    @media screen and (min-width: 1600px) {
      filter: blur(0.03vw);
    }
  }
}

body.season-2017 {
  padding: 2em 1em;
}
