---
layout: default
---
<a href="/" ref="home">← L'Année de l'Album : retour</a>
<main>
  <h1 class="headline">{{page.title}}</h1>
  <div class="meta"><span>{{page.date | date: '%B %d, %Y'}}</span></div>
  {{content}}
</main>
<br />

<footer class="footer-article">
  <em>Autres articles</em>
  <div class="navigation">
    {% if page.previous %}
      <a class="previous" href="{{page.previous.url}}">
        ← {{page.previous.title}}
      </a>
    {% else %}
      <span></span>
    {% endif %}
    {% if page.next %}
      <a class="next" href="{{page.next.url}}">
         {{page.next.title}} →
      </a>
    {% else %}
      <span></span>
    {% endif %}
  </div>
</footer>
<br />

{% include comments.html %}
